@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700');

$dark-blue-color: #2a86c8;
$medium-blue-color: #189bd7;
$light-blue-color: #49bee6;
$light-blue-color-transparent: rgba(73, 190, 230, 0.3);

$dark-orange-color: #f05923;
$light-orange-color: #f5825c;

$dark-green-color: #279445;
$light-green-color: #68bd45;
$lighter-green-color: #8af153;
$light-green-color-transparent: rgba(138, 241, 83, 0.3);


$dark-purple-color: #27256a;
$light-purple-color: #3e68b2;

$font-family-sans-serif: 'Poppins', sans-serif;
$font-color-dark: rgba(0, 0, 0, 0.72);
$font-color-light: rgb(255, 255, 255)
